.idea/
envs/
server/cache/
server/Model/
server/cache
server/__pycache__/
**/__pycache__/
*.pyc
server/Model
# tevatron/  ← removed: replaced by local shim at server/tevatron/
server/elastic-umls-master/
server/Model